extends ../shared/layout

block content
  #game

  // Load JavaScript
  script(src='https://cdnjs.cloudflare.com/ajax/libs/phaser/2.4.6/phaser.min.js')
  script(src='/js/platformer/boot.js')
  script(src='/js/platformer/preloader.js')
  script(src='/js/platformer/level-1.js')
  script(src='/js/platformer/game.js')
